@import '../../styles/layout.scss';
@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';

.about-page {
  @include page();

  display: grid;

  grid-template-rows: 
    10.0em 10em 0.0fr 0.0fr
  ;

  grid-template-columns: 
    0.5fr 0.1fr 0.5fr
  ;

  grid-template-areas: 
    "header header header"
    ". page-header ."
    ". intro . "
    ". main ."
    ". main ."
  ;

  .header {
    grid-area: header;

    .title {
      width: 100%;
    }
  }

  .faded-header {
    grid-area: page-header;

    .title {
      width: 100%;
    }

    &__obstacle {
      position: absolute;

      width: 20em;
      height: auto;

      top:  -4.5em;
      left: 17em;

      transform: rotate(25deg);
      transition: 3s top, 3s left, 3s transform;

      opacity: 0.7;
    }
  }

  &__intro {
    grid-area: intro;
  }

  &__main {
    grid-area: main;
  }

  &__lazy-image-container {
    position: relative;
    padding: 2em 0em;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @include large {
      //position: absolute;
    }

    .lazy-image {
      position: absolute;
      transform: translate(-0%);
      transition: 1s opacity;

      z-index: -1;

      &--loaded {
        animation: about-page-slide 1s;
      }
    }
  }

  &__aside {
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 1em;

    @include medium {
      right: unset;
      left: 68%;
    }

    @include large {
      left: 75%;
    }


    nav {
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: center;

      padding: 1em;
      width: 10em;

      .nav-button {
        * {
          font-size: 1.2em;
        }
      }
    }
    .soft-disk {
      position: absolute;

      left: 50%;
      top: 50%;

      transform: translate3d( -50%, -50%, 0 );

      width: 11em;
      height: 4.0em;

      backdrop-filter: $glass-backdrop-filter;
    }
  }
}

@keyframes about-page-slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
  
}
