@import '../../styles/layout.scss';

.about-page {
  @include page();

  display: grid;

  grid-template-rows: 
    10.0em 8em 0.0fr 0.0fr
  ;

  grid-template-columns: 
    0.5fr 1.0fr 0.5fr
  ;

  grid-template-areas: 
    "header header header"
    ". page-header ."
    ". intro . "
    ". main ."
    ". main ."
  ;


  .header {
    grid-area: header;

    .title {
      width: 100%;
    }
  }

  .faded-header {
    grid-area: page-header;

    .title {
      width: 100%;
    }

    &__obstacle {
      position: absolute;

      width: 20em;
      height: auto;

      top:  -4.5em;
      left: 17em;

      transform: rotate(25deg);
      transition: 3s top, 3s left, 3s transform;

      opacity: 0.96;
    }
  }

  &__intro {
    grid-area: intro;
  }

  &__main {
    grid-area: main;
  }
}
