.info-modal {
  position: relative;
  top: 1em;
  right: -0.5em;
  z-index: 1;

  font-size: 1em;

  .soft-disk {
    position: absolute;
    transform: translate( -50%, -50% );

    z-index: -1;

    width: 3em;
    height: 3em;
    backdrop-filter: blur( 40px );
  }

  .button {
    position: absolute;
    font-size: 2em;
    transform: translate( -50%, -50% );
    color: var( --secondary-color );
    opacity: 0.8;
  }

  .modal {
    padding: 3.5em;
    border-radius: 10%;

    background-color: var( --accent-color );

    border: 2px solid var( --secondary-color );
    box-shadow: 0px 0px 15px #0003;

    width: 500px;
    max-width: 70vw;

    h1 {
      font-size: 2rem;
      color: var( --secondary-color );

      padding-bottom: 0.5em;
    }

    .paragraph {
      color: var( --foreground-color );
      width: 100%;

      text-align: left !important;
    }

    .info-modal__close-button {
      position: absolute;
      right: 5%;
      top: 8%;

      opacity: 0.2;

      & > * {
        width: 20px;

        transition: 0.5s;

        &:hover {
          transform: scale( 1.2 );
        }
      }
    }
  }

  .about-link {
    text-decoration: underline;
  }

}