@import '../../../styles/layout.scss';

// TODO clean up variable usage
$nav-entries: 4;
$disk-offset: 10%;
$disk-offset-vertical: 40%;
$disk-movement-amount: ( 100% - $disk-offset * 2 ) / $nav-entries;

@mixin disk-position( $i, $disk-index ) {
  $disk-position: $disk-offset + $i * $disk-movement-amount;

  @if $disk-index == 1 {

    top: -$disk-offset;
    left: $disk-position;

    @include medium {
      top: $disk-position - $disk-offset * 2;
      left: -$disk-offset-vertical;
    }

  } @else {

    bottom: -$disk-offset;
    right: $disk-position;

    @include medium {
      bottom: $disk-position - $disk-offset * 2;
      right: -$disk-offset-vertical;
    }
  }
}

@mixin disk-position-first( $i ) {
  top: -10%;
  left: 10% + $i * $disk-movement-amount;

  @include medium {
    top: -10% + $i * $disk-movement-amount;
    left: -40%;
  }
}

@mixin disk-position-second( $i ) {
  bottom: -10%;
  right: 10% + $i * $disk-movement-amount;

  @include medium {
    bottom: -10% + $i * $disk-movement-amount;
    right: -40%;
  }
}

.nav-bar {
  &__nav {
    position: relative;
    width: 100%;

    @include medium {
      width: 8em;
    }

    .glass-card {
      padding: 0.5em;

      @include medium {
        padding: 1.0em 0em;
      }

      ul {
        display: flex;
        flex-direction: row;

        @include medium {
          flex-direction: column;
        }

        li {
          width: 100%;  
          padding: 0.7em 0em;
          text-align: center;
        }
      }
    }

    .soft-disk {
      position: absolute;
      z-index: 0;

      transition: 0.8s;
    }

    .soft-disk:first-of-type {
      top: -10%;
      left: 10%;

      @include medium {
        top: -10%;
        left: -30%;
      }
    }

    .soft-disk:nth-of-type(2) {
      bottom: -10%;
      right: 10%;

      @include medium {
        top:unset;
        right:unset;

        bottom: -10%;
        right: -30%;
      }
    }

    @for $i from 0 through $nav-entries - 1 {
      &--entry#{ $i } {
        .soft-disk:nth-of-type(1) {
          @include disk-position( $i, 1 );
        } 
        .soft-disk:nth-of-type(2) {
          @include disk-position( $i, 2 );
        }
      }
    }


  }
}

@mixin soft-disk-position( $left, $top, $right, $down ) {
  left: $left;
  top: $top;
  right: $right;
  down: $down;

  @include medium {
    top:unset;
    right:unset;

    left: 5em;
    bottom: -1em;
  }
}