@import '../../styles/colors.scss';
@import '../../styles/layout.scss';
@import '../../styles/ornaments.scss';

.main-page {
  @include page();

  display: grid;
  grid-template-columns: 0.3fr auto;
  grid-template-rows:    0.33fr 0.33fr auto;
  grid-template-areas: 
    "header header"
    "navbar main"
    "navbar main";

  @include medium {
    grid-template-columns: 0.49fr 0.49fr auto;
    grid-template-rows:    0.33fr 0.33fr auto;
    grid-template-areas: 
      "header header navbar"
      "main   main   main"
      "main   main   main";
  }

  background: gradient( 'horizon' );

  .soft-disk:first-of-type {
    position: absolute;
    right: 10%;
    bottom: 10%;
  }

  .soft-disk:last-of-type {
    position: absolute;
    right: 30%;
    bottom: 24%;

    display: none;

    @include medium {
      display: block;
    }
  }

  .horizon-gradient {
    position: absolute;
    bottom: 5%;
    left: 40%;

    @include medium {
      left: 23%;
    }
  }

  .main-header {
    top: -1em;

    grid-area: header;
  }

  header {
    div {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;

      * {
        white-space: nowrap;
      }
    }
  }

  .gradient-card {
    justify-self: center;
    align-self: center;

    @include small {
      align-self: flex-start;
    }

    max-width: 20em;
    grid-area: main;
  }

  .nav-bar {
    grid-area: navbar;
  }

  &__sharp-disks {
    position: absolute;
    top: 50%;
    margin-left: -2em;

    @for $i from 1 through 3 {
      .sharp-disk:nth-child( #{ $i } ) {
        position: absolute;     
        margin-left: 3em * $i;
      }
    }
  }
}
