@import '../../styles/colors.scss';
@import '../../styles/layout.scss';

.main-page {
  @include page();

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include medium {
    flex-direction: row;
  }

  background-color: color("background", 300);

  .soft-disk:first-of-type {
    position: absolute;
    right: 10%;
    bottom: 10%;
  }

  .soft-disk:last-of-type {
    position: absolute;
    right: 30%;
    bottom: 24%;

    display: none;

    @include medium {
      display: block;
    }
  }

  .horizon-gradient {
    position: absolute;
    bottom: 5%;
    left: 40%;

    @include medium {
      left: 23%;
    }
  }

  &__header {
    position: relative;
    top: 1em;

    .glass-card {
      position: absolute;
      top: 1.5em;

      @include small {
        top: 1.7em;
      }

      @include medium {
        top: 2.4em;
      }

      @include large {
        top: 2.8em;
      }

      left: 1.2em;

      width: 15em;
      height: 10em;
    }

    .bars {
      position: absolute;
      top: -2em;
      left: 4em;

      height: 21em
    }
  }
}
