@import '../../styles/colors.scss';
@import '../../styles/layout.scss';
@import '../../styles/ornaments.scss';

.main-page {
  @include page();

  background: gradient( 'horizon' );

  display: grid;
  gap: 1em;
  grid-template-rows: 0.96fr 0.02fr 0.02fr;
  grid-template-areas: 
    "header header"
    "info info"
    "navbar navbar"
  ;

  @include medium {
    grid-template-columns: 0.99fr auto;
    grid-template-rows: 0.7fr auto auto;

    grid-template-areas: 
      "header header"
      ". navbar"
      "info info"
    ;
  }

  @include large {
    grid-template-columns: 0.99fr auto;
    grid-template-rows: 0.9fr auto;

    grid-template-areas: 
      "header navbar"
      "info info"
    ;
  }

  .main-header {
    grid-area: header;
  }

  .nav-bar {
    grid-area: navbar;

    @include medium {
      padding: 0.4em;

    }
  }

  &__info {
    grid-area: info;

    padding: 0em 1.0em;

    @include medium {
      padding: 0em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }


  &__sharp-disks {
    position: absolute;
    top: 50%;
    margin-left: -2em;

    @for $i from 1 through 3 {
      .sharp-disk:nth-child( #{ $i } ) {
        position: absolute;     
        margin-left: 3em * $i;
      }
    }
  }
}
