@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';

.blog-page {
  @include page();

  display: flex;
  flex-direction: column;
  align-items: center;

  .obstacle {
    position: absolute;
    z-index: 100;

    width: 440px;
    max-width: 500px;

    top: 1.5em;
    left: 45%;

    transform: translate( -100%, 0% );



    pointer-events: none;
  }

  main {
    width: 100%;
    max-width: 750px;
    padding-top: 5rem;
    z-index: 1;

    & > .title {
      position: relative;
      margin-bottom: -0.5rem;
      text-align: center;

      padding-bottom: 0.1em;

      @include font('heading');
    }

    .blog-page__info {
      position: relative;
      top: -24px;
      right: 4%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .bar {
      margin: 0.3em 0.3em;
    }
  }


  &__posts {
    display: flex;
    flex-direction: column;
  }

  &__post-link {
    padding: 0.5em 0em;

    img {
      width: 100%;
      height: 250px;

      padding-bottom: 1em;

      @include medium {
        height: 400px;
      }

      @include large {
        height: 500px;
      }

      object-fit: cover;
    }

    &:visited {
      div h2 {
        text-decoration-color: var( --primary-color );
      }
    }

    .link-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title {
        color: var( --foreground-color );
        padding: 0.5em 0.5em;
        margin: 0.3em 0.0em;

        @include font( 'subheading' );
        text-transform: lowercase;
        text-decoration: underline;
        text-decoration-color: var( --foreground-color );
        font-size: 1.5rem;

        filter: drop-shadow( 0px 0px 2px #33333344 );

        transition: 0.3s;
        border-radius: 1.0em;

        &:hover {
          background-color: var( --primary-color );
        }
      }

      span {
        padding: 0.5em 0.5em;

        @include font( 'paragraph' );
        text-transform: lowercase;
        font-size: 1.5rem;

        color: var( --accent-color );

        filter: drop-shadow( 0px 0px 2px #33333344 );
      }


      span {
        color: var( --secondary-color );
      }
    }

    p {
      font-size: 1rem;
      padding-left: 1.5em;
    }

    .bar {
      padding: 0.0em;
    }
  }

  &__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__category-button {
    padding: 0.2em 0.5em;
    border-radius: 20px;

    transition: 0.5s;

    &--pressed {
      background-color: var( --primary-color );
      border-radius: 50%;

      color: var( --foreground-color );

      &:hover {
        color: var( --foreground-color );
      }
    }
  }

}