@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';

.blog-page {
  @include page();

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    .title {

    }

    .paragraph {
      padding-left: 0.5em;

      a {
        @include font( 'accent' );

        letter-spacing: 0.1em;
        color: var( --primary-color-300 )
      }
    }
  }

  &__posts {
    display: flex;
    flex-direction: column;
  }

  &__post-link {
    padding: 0.5em;
  }

  &__categories {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__category-button {
    padding: 0.5em;
  }

}

.post {
  
}