@import '../../../../styles/layout.scss';
@import '../../../../styles/fonts.scss';

.post {
  width: 100%;
  max-width: 750px;

  color: var( --foreground-color );

  &__header {
    padding: 0em;
    margin: 0em;
    padding-bottom: 1em;

    z-index: inherit;

    &-back-arrow {
      position: relative;
      top: 20px;
      left: -5px;

      transition: 0.5s;

      .arrow {
        position: relative;
        width: 4em;
        height: auto;

        padding: 0.2em;

        z-index: 100;

        // Filter created using https://codepen.io/sosuke/pen/Pjoqqp
        filter: invert(17%) sepia(75%) saturate(4628%) hue-rotate(258deg) brightness(71%) contrast(140%);
      }

      .arrow-background {
        position: absolute;
        top: 0;
        left: 0;

        width: 6em;
        height: 3.5em;

        background-color: var( --accent-color );
        border-radius: 50%;

        transform: translate( -12%, -62% );

        box-shadow: 0px 0px 10px #33333374;
      }

      &:hover {
        top: 10px;
      }
    }

    &-date {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @include font( 'paragraph' );
      text-transform: lowercase;
      font-size: 1.5rem;

      color: var( --secondary-color );

      filter: drop-shadow( 0px 0px 2px #33333344 );
    }

    img {
      width: 100%;
      height: 50vh;

      object-fit: cover;

      z-index: 1;
    }

    .title {
      padding-left: 0em;
      padding-bottom: 0.5rem;

      font-size: 3em;
      letter-spacing: 0.1em;

      @include medium {
        font-size: 3.5em;
      }

      @include large {
        font-size: 4em;
      }
    }

    div {
      margin-bottom: 0.5em;
    }
  }

  h1, h2, h3, h4, h5 {
    color: var( --primary-color );
  }


  p, li, ul {
    font-size: 1.2rem;
  }

  .bar {
    margin-top: 1em;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;

    .simple-nav-bar {
      width: 100%;
    }

    span {
      padding: 0.4em 0.0em;
      @include font( 'paragraph' );

      color: var( --foreground-color );
    }
  }

  &__footer-keywords {
    padding: 1em 0em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .keyword {
      @include font( 'paragraph' );
      padding: 0.3em;
    }
  }
}