@import '../../../../styles/layout.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/ornaments.scss';
@import '../../../../styles/colors.scss';

.post {
  width: 100%;
  max-width: 750px;

  color: var( --foreground-color );
  background-color: var( --accent-color );
  padding: 1em 3em;
  padding-bottom: 2em;

  img {
    width: 100%;
    height: auto;
  }

  code {
    padding: 0.0em 0.1em;
    @include font( 'button' );

    // background-color: var( --accent-color );
    // background-color: darkslateblue;
  }

  pre {
    code {
    }
  }

  &__header {
    padding: 0em;
    margin: 0em;
    padding-bottom: 1em;

    z-index: inherit;

    &-back-arrow {
      position: relative;
      top: 20px;
      left: -5px;

      transition: 0.5s;

      .arrow {
        position: relative;
        width: 4em;
        height: auto;

        padding: 0.2em;

        z-index: 100;

        // Filter created using https://codepen.io/sosuke/pen/Pjoqqp
        filter: invert(17%) sepia(75%) saturate(4628%) hue-rotate(258deg) brightness(71%) contrast(140%) drop-shadow( 0px 0px 3px #cecece22 );
      }

      .arrow-background {
        position: absolute;
        top: 0;
        left: 0;

        width: 6em;
        height: 3.5em;

        background-color: var( --secondary-color );
        border-radius: 50%;

        transform: translate( -12%, -62% );

        box-shadow: 0px 0px 10px #88888888;
      }

      &:hover {
        top: 10px;
      }
    }

    &-date {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @include font( 'paragraph' );
      text-transform: lowercase;
      font-size: 1.5rem;

      color: var( --secondary-color );

      filter: drop-shadow( 0px 0px 2px #33333344 );
    }

    img {
      width: 100%;
      height: auto;

      object-fit: cover;

      z-index: 1;

      border-radius: 20px;

      box-shadow: 0px 0px 10px #8334;
    }

    .title {
      font-size: 3em;
      letter-spacing: 0.1em;

      padding-top: 0.2em;

      @include medium {
        font-size: 3.5em;
      }

      @include large {
        font-size: 3.7em;
      }
    }

    div {
      margin-bottom: 0.5em;
    }
  }

  h1, h2, h3, h4, h5 {
    color: var( --primary-color );
  }

  hr {
    // Styling inspired by https://css-tricks.com/examples/hrs/
    width: 70%;
    opacity: 0.3;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }


  p, li, ul {
    font-size: 1.2rem;
  }

  p {
    padding: 0.5em 0.0em;
    line-height: 1.1em;
    letter-spacing: -0.01em;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 2px;

    color: var( --foreground-color );

    transition: 0.5s;

    &:hover {
      color: var( --primary-color );
      text-decoration-thickness: 10px;
    }

    &:visited {
      text-decoration-color: var( --primary-color );
    }
  }

  .bar {
    padding-bottom: 0em;
    margin-top: 0.5em;
    margin-bottom: 0em;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;

    .simple-nav-bar {
      width: 100%;
    }

    span {
      padding: 0.4em 0.0em;
      @include font( 'paragraph' );

      opacity: 0.9;

      color: var( --foreground-color );
    }
  }

  &__footer-keywords {
    padding: 1em 0em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .keyword {
      @include font( 'paragraph' );
      padding: 0.3em;
    }
  }
}