/* Syne */
/* Credit: https://gitlab.com/bonjour-monde/fonderie/syne-typeface */
@font-face {
  font-family: 'SyneRegular';
  src: url('/fonts/syne/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneBold';
  src: url('/fonts/syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneExtraBold';
  src: url('/fonts/syne/Syne-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneItalic';
  src: url('/fonts/syne/Syne-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneMono';
  src: url('/fonts/syne/SyneMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneTactile';
  src: url('/fonts/syne/SyneTactile-Regular.ttf') format('truetype');
}

/* Quicksand */
/* Credit: https://www.fontsquirrel.com/fonts/quicksand */
@font-face {
  font-family: 'QuicksandRegular';
  src: url('/fonts/quicksand/Quicksand-Regular.otf') format('opentype');
}


/* Font data */ 
$fonts: (
  'heading': (
    'name': 'QuicksandRegular',
    'fallback': sans-serif,
    'weight': 300,
    'style': italic,
  ),
  'subheading': (
    'name': 'SyneRegular',
    'fallback': sans-serif,
    'weight': 400,
    'style': normal,
  ),

  'paragraph': (
    'name': 'SyneRegular',
    'fallback': sans-serif,
    'weight': 300,
    'style': normal
  ),

  'button': (
    'name': 'SyneMono',
    'fallback': sans-serif,
    'weight': 500,
    'style': normal
  ),

  'accent': (
    'name': 'SyneItalic',
    'fallback': sans-serif,
    'weight': 600,
    'style': normal,
  )
);

/*
  This mixin enables easy font usage.
  By passing the font name, the font-family,
  fallback font and font-weight will automatically be set.

  The default weight can be overridden by passing a weight value. 
*/
@mixin font( $type, $weight : 0 ) {
  $fontData: map-get( $fonts, $type );

  $name:     map-get( $fontData, 'name' );
  $fallback: map-get( $fontData, 'fallback' );
  $style:    map-get( $fontData, 'style' );

  /* Use default weight if no weight is passed */
  @if $weight == 0 {
    $weight: map-get( $fontData, 'weight' );
  }

  font-family: $name, $fallback;
  font-weight: $weight;
  font-style: $style;
}