/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* Snippet */
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

/* Epilogue */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,700;0,800;1,700;1,800&display=swap');

/* BioRhyme Expanded */
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@400;700;800&display=swap');

/* Font data */ 
$fonts: (
  'title': (
    'name': 'BioRhyme Expanded',
    'fallback': sans-serif,
    'weight': 800,
    'style': normal,
  ),

  'paragraph': (
    'name': 'Poppins',
    'fallback': sans-serif,
    'weight': 400,
    'style': normal
  ),

  'button': (
    //'name': 'Quicksand',
    'name': 'Snippet',
    'fallback': sans-serif,
    'weight': 600,
    'style': normal
  )
);

/*
  This mixin enables easy font usage.
  By passing the font name, the font-family,
  fallback font and font-weight will automatically be set.

  The default weight can be overridden by passing a weight value. 
*/
@mixin font( $type, $weight : 0 ) {
  $fontData: map-get( $fonts, $type );

  $name:     map-get( $fontData, 'name' );
  $fallback: map-get( $fontData, 'fallback' );
  $style:    map-get( $fontData, 'style' );

  /* Use default weight if no weight is passed */
  @if $weight == 0 {
    $weight: map-get( $fontData, 'weight' );
  }

  font-family: $name, $fallback;
  font-weight: $weight;
  font-style: $style;
}