@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/ornaments.scss';
@import '../../styles/layout.scss';
@import '../../styles/_utils.scss';

$size: 1.0;

@mixin headings($size) {
  h1 {
    font-size: pow( $min-heading-multiplier, 4 ) * $size;

    @include fluid-type( 
      $grow-start-width, 
      $grow-stop-width, 
      pow( $min-heading-multiplier, 3 ) * $min-font-size * $size,
      pow( $max-heading-multiplier, 3 ) * $min-font-size * $size
    );

    letter-spacing: 0.4rem;

    @include font( 'heading' );
  }

  h2 {
    font-size: pow( $min-heading-multiplier, 2.0 ) * $size;

    @include fluid-type( 
      $grow-start-width, 
      $grow-stop-width, 
      pow( $min-heading-multiplier, 2.0 ) * $min-font-size * $size,
      pow( $max-heading-multiplier, 2.0 ) * $min-font-size * $size
    );

    letter-spacing: 0.3rem;

    @include font( 'heading' );
  }

  h3 {
    font-size: pow( $min-heading-multiplier, 2 ) * $size;

    @include fluid-type( 
      $grow-start-width, 
      $grow-stop-width, 
      pow( $min-heading-multiplier, 2 ) * $min-font-size * $size,
      pow( $max-heading-multiplier, 2 ) * $min-font-size * $size
    );

    letter-spacing: 0.0rem;

    @include font( 'heading' );
  }

  h4 {
    font-size: pow( $min-heading-multiplier, 1 ) * $size;

    @include fluid-type( 
      $grow-start-width, 
      $grow-stop-width, 
      pow( $min-heading-multiplier, 1 ) * $min-font-size * $size,
      pow( $max-heading-multiplier, 1 ) * $min-font-size * $size
    );

    letter-spacing: 0.0rem;

    @include font( 'subheading' );
  }

  h5 {
    font-size: $min-heading-multiplier * $size;
    letter-spacing: 0.0rem;

    @include font( 'subheading' );
  }
}

@include headings( $size );

.title {
  transition: 1.0s color;
  color: var(--primary-color-300);
  @include text-shadow( 'title' );
}