@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/fonts.scss';

.piece-entry {
  padding-top: 1em;
  padding-bottom: 0.0em;
  position: relative;

  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .button {
      font-size: 0.9em;
      padding-bottom: 0.1em;
      letter-spacing: 0.08em;

      @include medium {
        font-size: 1.0em;
      }

      color: var( --primary-color-300 );
      opacity: 0.4;
    }
  }

  &__link {
    position: relative;
    letter-spacing: 0.0em;

    div {
      h2 {
        font-size: 1.0em;
        padding-bottom: 0.3em;
        @include font( 'button' );
      }

      p {
        font-size: 0.9rem;
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include medium {
      flex-direction: row;
    }

    width: 100%;

    color: var( --primary-color );

    &:visited {
      color: var( --primary-color );
    }

    @include medium {
      font-size: 1.8em;
    }

    &:hover {
      div h2 {
        @include font( 'accent' );
        letter-spacing: 0.17em;
        color: var( --primary-color );
      }
    }

    .lazy-image {
      z-index: -1;
      opacity: 1.0;

      padding-left: 0.2em;

      * {
        // max-width: 95vw;
        width: 95vw;
        height: 200px;
        border-radius: 1em;

        object-fit: cover;

        @include small {
          height: 250px;
        }

        @include medium {
          width: unset;
          max-width: 95vw;
        }
      }
    }
  }

  .bar {
    margin-top: 0.3em;
    width: 100%;
    z-index: -2;
  }
}
