@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/fonts.scss';

.piece-entry {
  padding: 1.0em 0.0em;
  position: relative;

  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .button {
      font-size: 0.9em;
      padding-bottom: 0.1em;
      letter-spacing: 0.08em;

      @include medium {
        font-size: 1.0em;
      }

      color: var( --primary-color-300 );
      opacity: 0.4;
    }
  }

  &__link {
    position: relative;
    letter-spacing: 0.0em;

    font-size: 1.4em;
    text-align: start;

    width: 80vw;
    
    @include font( 'button' );

    color: var( --primary-color );

    &:visited {
      color: var( --primary-color );
    }

    @include medium {
      font-size: 1.8em;
    }

    &:hover {
      @include font( 'accent' );
      letter-spacing: 0.13em;
      color: var( --primary-color );

      .lazy-image {
        visibility: visible;
      }
    }

    .lazy-image {
      position: absolute;
      z-index: -1;

      visibility: hidden;
      opacity: 1.0;

      left: 6em;
      transform: translate( 0%, -50% ) scale( 0.65 );

      @include medium {
        left: 8em;
        transform: translate( 0%, -50% ) scale( 1.1 );
      }

      @include large {
        left: 10em;
        transform: translate( 0%, -50% ) scale( 1.3 );
      }
    }
  }

  .bar {
    margin-top: 0.3em;
    width: 100%;
    z-index: -2;
  }
}
