@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';

.contact-page {
  @include page();

  display: grid;

  grid-template-areas: 
    "header header aside"
    ". main ."
  ;

  grid-template-rows: 
    15vh auto
  ;

  grid-template-columns: 
    0.5fr 1.0fr 0.5fr
  ;


  .header {
    grid-area: header;

    .title {
      width: 100%;
    }
  }

  &__main {
    grid-area: main;

    width: clamp( 300px, calc( 100vw - 2em ), 800px );

    &--error {
      animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
    }

    .glass-card {
      padding: 2.5em 1em;

      border-radius: 15%;

      @include medium {
        border-radius: 20%;
        padding: 3em 2.5em 4em 2.5em;
      }

      .contact-page__header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: center;

        padding-bottom: 0.2em;

        .header {
          padding-bottom: 0.4em;
        }

        .glass-card {
          margin: 0;
          padding: 0.2em 1.0em;
          border-radius: 100em;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          a:not(:nth-child(1)) {
            display: none;

            @include medium {
              display: unset;
            }
          }

          a {
            img {
              padding: 0.5em;

              width: 1.5em;
              height: auto;

              // Filter created using https://codepen.io/sosuke/pen/Pjoqqp
              filter: invert(92%) sepia(54%) saturate(1994%) hue-rotate(359deg) brightness(109%) contrast(102%);
            }
          }
        }
      }

      .paragraph {
        padding-left: 0.3em;
        padding-bottom: 1em;

        max-width: 25.0em;

        a {
          color: var(--primary-color-300);
        }
      }

      form {
        .contact-page__email-input {
          position: relative;

          .contact-page__invalid-email-message {
            color: var( --warning-color );
            @include font( 'paragraph' );

            position: absolute;
            right: 0%;
            top: 8%;
          }

          .text-input-field {
            padding-bottom: 1em;
          }
        }

        .text-input-area {
          padding-bottom: 1em;

          textarea {
            height: clamp( 100px, 25vh, 300px );
          }
        }

        .contact-page__submit {
          display: flex;
          justify-content: space-between;
          align-content: center;

          padding: 0.2em;

          .contact-page__error-message {
            color: var( --warning-color );
            @include font( 'paragraph' );

            text-align: right;

            width: 30ch;
            height: 0px;
          }

          .contact-page__success-message {
            color: var( --primary-color-500 );
            @include font( 'paragraph' );

            text-align: right;

            width: 30ch;
            height: 0px;
          }

          .contact-page__send-failed-message {
            color: var( --primary-color-500 );
            @include font( 'paragraph' );

            text-align: right;

            width: 30ch;
            height: 0px;
          }
        }

      }

    }    
  }

  &__obstacle {
    position: absolute;

    width: 20em;
    height: auto;

    top:  -11em;
    left: 5em;

    z-index: 100;

    @include medium {
      left: 8em;
    }

    z-index: 100;

    transition: 3s top, 3s left, 3s transform;

    opacity: 0.96;

    pointer-events: none;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}