@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';

.contact-page {
  @include page();
  overflow: auto;

  display: grid;

  grid-template-areas: 
    "header header aside"
    ". main ."
  ;

  grid-template-rows: 
    18vh 1px 1fr
  ;

  grid-template-columns: 
    0.5fr 1.0fr 0.5fr
  ;


  .header {
    grid-area: header;

    .title {
      width: 100%;
    }
  }

  main {
    grid-area: main;

    width: clamp( 400px, 90vw, 800px );

    .glass-card {
      padding: 3em 2.5em 4em 2.5em;

      .header {
        padding-bottom: 0.6em;

      }

      .paragraph {
        padding-left: 0.3em;
      }

      form {

        .contact-page__email-input {
          position: relative;

          .contact-page__invalid-email-message {
            color: var( --warning-color );
            @include font( 'paragraph' );

            position: absolute;
            right: 0%;
            top: 8%;
          }

          .text-input-field {
            padding-bottom: 1em;
          }
        }

        .text-input-area {
          padding-bottom: 1em;

          textarea {
            height: 200px;
          }
        }

        .contact-page__submit {
          display: flex;
          justify-content: space-between;
          align-content: center;

          padding: 0.2em;

          .submit-input {
          }

          .contact-page__error-message {
            color: var( --warning-color );
            @include font( 'paragraph' );

            text-align: right;

            width: 30ch;
            height: 0px;
          }

          .contact-page__success-message {
            color: var( --primary-color-500 );
            @include font( 'paragraph' );

            text-align: right;

            width: 30ch;
            height: 0px;
          }
        }

      }

    }    
  }

  aside {
    position: fixed;
    top: 0;
    right: 0;

    z-index: 100;

    padding: 1em;

    @include medium {
      right: unset;
      left: 68%;
    }

    @include large {
      left: 75%;
    }
  }

  &__obstacle {
    position: absolute;

    width: 20em;
    height: auto;

    top:  -11em;
    left: 8em;

    transition: 3s top, 3s left, 3s transform;

    opacity: 0.96;
  }
}