@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';

.bar {

  border-radius: 100px;

  background-color: color( 'glass' );

  &--inset {
    @include neumorphic-shadow( 2px, 10%, 'inset', color( 'background' ) );
  }

  &--extrude {
    @include neumorphic-shadow( 2px, 10%, 'extrude', color( 'background' ) );
  }
}

.vertical {
  width: 0.6em;
}

.horizontal {
  height: 0.6em;
}