@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';

.bar {
  width: 0.6em;

  border-radius: 100px;

  background-color: color( 'background' );

  &--inset {
    @include neumorphic-shadow( 2px, 20%, 'inset', color( 'background' ) );
  }

  &--extrude {
    @include neumorphic-shadow( 2px, 20%, 'extrude', color( 'background' ) );
  }
}