@import '../../../styles/fonts.scss';

.piece {
  .animation-canvas {
    width: 100vw;
    height: 100vh;
  }
}

.piece-wrapper {
  $root: #{ & };

  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  &__content {
    opacity: 0;
    transition: 1.0s opacity;
  }

  &--loaded > &__content {
    opacity: 1;
  }

  &__loading {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-weight: 400;
    }
  }

  &__overlay-icon {
    position: fixed;
    top: 0;
    left: 0;

    padding: 0.5em;
    z-index: 100;

    opacity: 0;
    transform: translateX( -100% );
    transition: 1s transform, 0.5s opacity;

    &--visible {
      opacity: 0.5;
      transform: translateX( 0% );
    }

    @include font( 'paragraph' );
    font-size: 1.5em;
    color: var(--primary-color-300);

    cursor: pointer;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;

    visibility: 0;
    opacity: 0;
    pointer-events: none;

    transform: translateX( -20% );
    transition: 1s transform, 0.5s opacity;

    &--visible {
      opacity: 1;
      transform: translateX( 0 );
      pointer-events: all;
    }

    padding: 1.0em;

    .title {
      @include font( 'paragraph' );
      font-style: italic;
      font-size: 2.3em;
    }

    .bar {
      margin: 0.3em 0.0em;
    }

    .button {
      padding: 0.1em 0em;
      font-size: 1.2em;

      &:hover {
        @include font( 'accent' );
        letter-spacing: 0.3em;
      }
    }


    #{ $root }__index-back-home {
      display: flex;
      justify-content: center;

      #{ $root }__back-button {
        padding: 0.2em 0.0em;

        color: var(--foreground-color);
        opacity: 0.8;
      }
    }


    #{ $root }__piece-nav {
      display: flex;

      #{ $root }__previous-button {
      }

      #{ $root }__next-button {
        margin-left: auto;
      }
    }

    #{ $root }__overlay-close-button {
    }
  }

  &--loaded > &__overlay {
    visibility: 1;
  }

  &__description {
    margin-top: 1em;
    width: 27ch;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      z-index: -1;
      opacity: 0.1;

      background-color: black;
    }
  }

}