@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';

.glass-card {
  z-index: 2;
  box-shadow: 
    0px 0px 20px rgba(203, 182, 206, 0.15), 
    inset -20px -20px 50px rgba(0, 0, 0, 0.04), 
    inset 20px 20px 50px rgba(253, 239, 239, 0.11);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glass-card {
    background-color: color( 'glass' );
    backdrop-filter: $glass-backdrop-filter;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .glass-card {
    background-color: color( 'glass' );
    backdrop-filter: $glass-backdrop-filter;
  }
}