@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.header {
  position: relative;
  z-index: 1;

  &--link {
    cursor: pointer;
  }

  button {
    text-align: left;
  }

  div {
    display: inline-block;


    .bar {
      margin: 0.0em 0.4em 0.2em 0.5em;
      width: calc(100% - 1.0em);
    }

    div {
      box-sizing: border-box;
      width: 100%;

      display: flex;
      justify-content: space-between;

      *:nth-child(1) {
        width: 1em;
        margin-left: 0.5em;
      }

      *:nth-child(2) {
        width: 25ch;
        margin-right: 0.2em;
      }
    }
  }
}