@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/fonts.scss';

.piece-entry {
  padding: 0.0em 1.5em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .button {
      font-size: 1.0em;

      @include medium {
        font-size: 1.3em;
      }

      color: var(--primary-color-300);
      opacity: 0.4;

      margin-left: 0.8em;
      margin-right: 0.0em;
      margin-bottom: 0.5em;
    }
  }

  & > .button {
    letter-spacing: 0.0em;

    font-size: 1.6em;
    margin: 0em 0.5em;
    text-align: start;

    width: 5em;

    @include medium {
      font-size: 2.2em;
      width: 6em;
    }

    &:hover {
      @include font( 'accent' );
      letter-spacing: 0.13em;
    }
  }
}

.pieces-list {
  display: flex;
  align-items: flex-end;

  & > div {
    position: absolute;

    display: flex;
    justify-content: space-around;

    padding: 1em 1em;

    &:before {
      content: '';

      top: -100%;
      bottom: 0;
      left: -100%;
      right: -100%;

      opacity: 0.7;

      z-index: -1;
      position: absolute;
      background: linear-gradient(
        180deg,
        transparent 0%,
        var(--accent-color) 80%,
        transparent 100%,
      );
    }

  }
}