@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';


.links-page {
  @include page();

  display: flex;
  flex-direction: column;
  align-content: center;

  & > .header {
    .title {
      width: 100%;
    }

    padding-bottom: 4em;
  }

  &__container {
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;

    max-width: calc( min( 800px, 100% ) );

    .links-page__intro {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include medium {
        flex-direction: row-reverse;
      }

      div {
        .faded-header {
          .title {
            width: 100%;
          }

          &__obstacle {
            position: absolute;

            width: 20em;
            height: auto;

            top:  -6.5em;
            left: 5em;

            transform: rotate(25deg);
            transition: 3s top, 3s left, 3s transform;

            opacity: 0.9;
          }
        }

        .paragraph {
          a {
            text-decoration: underline;
            transition: 0.3s;
            
            &:hover {
              text-decoration-color: var( --accent-color );
            }
          }
        }
      }

      .glass-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 1em 1.0em;

        border-radius: 30%;

        * { 
          font-size: 0.8rem;
        }

        @include medium {
          flex-direction: column;
          height: 100%;

          max-width: 10em;

          margin: 4em 1em 1em 1em;
        }


        .button {
          padding: 1em 0.5em;
          border-radius: 20px;

          transition: 0.5s;
          &--pressed {
            background-color: var( --accent-color );
            border-radius: 50%;
          }
        }
      }
    }

    .links-page__links {
      display: flex;
      flex-direction: column;
      position: relative;

      margin: 0em 2em;

      .header {
        .title {
          font-size: 1.2em;
          color: var( --primary-color );
          font-weight: 400;
        }

        padding-top: 1em;
        padding-bottom: 0.5em;
      }

      a {
        display: flex;
        flex-direction: row;
        color: var( --foreground-color );

        padding: 0.5em 0em;
        border-radius: 100px;
        width: 80vw;

        @include font( 'paragraph' );

        transition: 0.5s;

        z-index: 2;

        div {
          position: absolute;
          visibility: hidden;

          justify-self: flex-end;

          @include medium {
            position: relative;
            visibility: visible;
          }

          padding-left: 2.5em;
          opacity: 0;

          transition: 0.1s;

        }

        &:hover {
          background-color: var( --secondary-color );

          padding-left: 1em;

          &:before {
            padding: 0.0em 1.2em;
          }

          div {
            opacity: 0.85;
          }
        }

        &:before {
          content: '';
          position: relative;

          transition: 0.5s;

          padding: 0.0em 0.53em;
          margin-right: 0.5em;

          border-radius: 100px;

          background-color: var( --primary-color );

          box-shadow: 3px 3px 10px rgba(232, 132, 132, 0.25), 
            0px 4px 4px rgba(0, 0, 0, 0.25), 
            0px -1px 0px rgba(240, 255, 179, 0.4), 
            0px 1px 0px rgba(255, 0, 0, 0.5), 
            inset 4px 4px 4px rgba(255, 251, 251, 0.4);
        }

      }
    }
  }

}