@import '../../../styles/colors.scss';
@import '../../../styles/ornaments.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/fonts.scss';

.piece-entry {
  padding: 0.0em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .button {
      font-size: 0.7em;

      @include medium {
        font-size: 1.0em;
      }

      color: var(--primary-color-300);
      opacity: 0.4;

      margin-left: 1.0em;
      margin-right: 0.0em;
      margin-bottom: 0.5em;
    }
  }

  & > .button {
    letter-spacing: 0.0em;

    font-size: 1.3em;
    width: 8em;
    margin: 0em 0.5em;
    text-align: start;

    @include medium {
      font-size: 2em;
      width: 9em; 
    }

    &:hover {
      @include font( 'accent' );
      letter-spacing: 0.13em;
    }
  }
}

.pieces-list {
  display: flex;
  align-items: flex-end;

  & > div {
    position: absolute;

    display: flex;
    justify-content: space-around;
  }
}