@import '../../../styles/ornaments.scss';
@import '../../../styles/layout.scss';

.home-bar {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 1;

  padding: 1em;

  @include medium {
    right: unset;
    left: 68%;
  }

  @include large {
    left: 75%;
  }

  nav {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1em;
    width: 10em;

    .nav-button {
      * {
        font-size: 1.1em;
      }
    }
  }

  .soft-disk {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate3d( -50%, -50%, 0 );

    width: 11em;
    height: 4.0em;

    @include use-glass();
  }
}