@import './styles/colors.scss';
@import './styles/ornaments.scss';

.app {
	height: 100vh;

  @each $theme, $_ in $themed-colors {
    &--#{$theme} {
      @include colorScheme( $theme );
    }
  }
}

.test-page {
  .animation-canvas {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);

    width: 100%;
    height: 100%;
  }
}
