@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';
@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';

.pieces-page {
  @include page();

  display: grid;

  grid-template-rows: 
    7.0em 10em 1.0fr 1.0fr
  ;

  grid-template-columns: 
    0.5fr 0.5fr 0.5fr
  ;

  grid-template-areas: 
    "header header header"
    ". main ."
    ". main ."
    "pieces pieces pieces"
  ;

  .header {
    grid-area: header;

    .title {
      width: 100%;
    }
  }

  main {
    grid-area: main;
    width: calc( min( 30em, 90vw ) );
    .information-display {

      .faded-header {
        .title {
          width: 100%;
        }

        &__obstacle {
          position: absolute;

          width: 20em;
          height: auto;

          top:  -4.5em;
          left: 17em;

          transition: 3s top, 3s left, 3s transform;

          opacity: 1.0;
        }
      }
    }
  }

  &__aside {
    position: fixed;
    top: 0;
    right: 0;

    z-index: 1;

    padding: 1em;

    @include medium {
      right: unset;
      left: 68%;
    }

    @include large {
      right: unset;
      left: 75%;
    }
  }


}