@import '../../styles/colors.scss';
@import '../../styles/ornaments.scss';
@import '../../styles/layout.scss';
@import '../../styles/fonts.scss';

.pieces-page {
  @include page();

  display: grid;
  overflow: hidden;

  grid-template-rows: 
    20vh 10em 0.0fr 1.0fr
  ;

  grid-template-columns: 
    0.5fr 0.5fr 0.5fr
  ;

  grid-template-areas: 
    "header header header"
    ". main ."
    ". main ."
    "pieces pieces pieces"
  ;

  .header {
    grid-area: header;

    .title {
      width: 100%;
    }
  }

  main {
    grid-area: main;
    width: calc( min( 35ch, 90vw ) );

    .information-display {

      & > .title {
        color: var(--primary-color-500);

        @include font( 'accent' );
        font-size: 1.5rem;

        letter-spacing: 0.3rem;
        padding-bottom: 0.2rem;
      }

      .faded-header {
        .title {
          position: absolute;
          top: 2.6em;
          left: -0.2em;
        }

        &__obstacle {
          position: absolute;

          width: 20em;
          height: auto;

          top: 11.5em;
          left: 14em;

          transition: 3s top, 3s left, 3s transform;

          opacity: 1.0;
        }
      }

      .lazy-image {
        position: fixed;
        opacity: 0.8;

        z-index: -1;

        bottom: 20%;
        left: 50%;

        transform: translateX(-50%) scale(1.3);

        @include medium {
          bottom: 26%;
          transform: translateX(-50%) scale(1.7);
        }

        @include large {
          bottom: 26%;
          transform: translateX(-50%) scale(2.0);
        }

      }
    }
  }

  .pieces-list {
    position: fixed;
    bottom: 5vh;
    left: 0;
    z-index: 3;
  }
}