@import '../../../../styles/colors.scss';
@import '../../../../styles/layout.scss';
@import '../../../../styles/ornaments.scss';

$size: 5.5rem;

@mixin sharp-disk-style( $size ) {
  width: $size;
  height: $size;
  border-radius: 100%;

  box-shadow: shadow( $size, 0.08, 0.18, 0.14, rgba(120, 19, 19, 0.25) );
}

.sharp-disk {
  background-color: color( 'glass' );

  @include sharp-disk-style( $size * 1.0 );

  @include huge {
    @include sharp-disk-style( $size * 1.3 );
  }
}